AWS_ACCOUNT_ID=your-account-id
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=your-region
TWITTER_ACCOUNT=your-twitter-account
TABLE_NAME=your-table-name
TWEETS_FILE_PATH=/Your/Tweets/Path/tweets.txt
